@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
.preview {
  background: url("../resources/background/Layer45.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 855px;
}
.preview__info {
  padding-top: 49.7px;
  display: flex;
  align-items: center;
}
.preview__info__phone, .preview__info__mail {
  font-size: 20px;
}
.preview__info__block {
  position: absolute;
  margin: 0 8px 0 -16px;
  height: 25px;
  width: 7px;
  background: #bd0c00;
}
.preview__info__block.cases {
  margin-top: 42px;
  height: 111px;
}
.preview__info__block.operations {
  margin-top: 66px;
  height: 116px;
}
.preview__info__block.reviews {
  margin-top: 92px;
  height: 71px;
}
.preview__info__block.map {
  margin-top: 96px;
  height: 31px;
}
.preview__info__phone {
  margin-right: 18px;
}
.preview__info__name {
  margin-right: 77px;
  color: white;
  font-size: 35px;
}
.preview__info__name span {
  font-weight: bold;
}
.preview__title {
  margin-top: 110px;
  line-height: 0.792;
  width: 630px;
  text-transform: uppercase;
  font-size: 150px;
  color: #2e5754;
}
.preview__title span {
  color: #fff;
  font-weight: bold;
}
.preview__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url("../resources/shapes/Rectangle3.png");
  margin-top: 64px;
  height: 200px;
  width: 496px;
}
.preview__feedback__title {
  color: #fff;
  font-size: 35px;
}
.preview__feedback__input {
  font-size: 20px;
  border: 0;
  outline: none;
  text-align: center;
  height: 41px;
  width: 214px;
}
.preview__feedback__input.name {
  margin-right: 8px;
}
.preview__feedback__input::placeholder {
  vertical-align: center;
  font-size: 20px;
  color: #8cbeb9;
}
.preview__feedback__input__container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.preview__feedback__button {
  font-size: 20px;
  border: 0;
  height: 41px;
  width: 170px;
  background: #00f5a9;
  transition: all 0.6s;
  color: #2e5754;
}
.preview__feedback__button:hover {
  outline: none;
  cursor: pointer;
  background: #fff;
}
.preview__face {
  position: absolute;
  margin-left: 305px;
  background: url("../resources/faces/face.png") no-repeat;
  width: 1160px;
  height: 1072px;
  transition: background 2s;
}
.preview__face.zombie {
  background: url("../resources/faces/zombie.png") no-repeat;
}

.cases__info {
  margin-top: 38px;
  line-height: 0.899;
  color: #00675f;
  font-size: 45px;
  font-weight: bold;
  width: 493px;
}
.cases__content {
  margin-top: 41px;
  color: #4d4d4d;
  padding: 20px;
  font-size: 20px;
  background: url("../resources/shapes/Rectangle3copy.png") no-repeat;
  height: 194px;
  width: 546px;
}
.cases__content span {
  font-weight: bold;
}
.cases__ul {
  color: #4d4d4d;
  margin-left: 12px;
  list-style-type: none;
  font-size: 20px;
  list-style-image: url("../resources/custom-li/li.png");
}
.cases__ul__title {
  width: 400px;
  margin-top: 53px;
  color: #00665e;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}
.cases__ul li {
  margin-top: 36px;
}

.wrapper {
  margin: 0 auto;
  width: 1171px;
  display: flex;
}

.pros {
  margin-top: 43px;
}
.pros__recs {
  background: url("../resources/shapes/prosvector.png") no-repeat;
  background-size: cover;
  height: 939px;
}
.pros__recs__title {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  width: 533px;
  line-height: 0.899;
}
.pros__recs__subtitle {
  margin-top: 16px;
  font-size: 30px;
  color: #002422;
}
.pros__recs__content {
  padding: 15px;
  color: #fff;
  font-size: 19px;
  background: url("../resources/shapes/border.png") no-repeat;
  width: 546px;
  height: 127px;
}
.pros__recs__quality {
  width: 100%;
  margin-top: 78px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.pros__recs__grid {
  display: grid;
  margin: 95px 40px 0 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 36px;
}
.pros__recs__grid__item {
  text-align: center;
  width: 338px;
}
.pros__recs__grid__item__text {
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
}
.pros__recs__grid__item span {
  display: inline-block;
  width: 220px;
  font-size: 18px;
  color: #d9fffd;
  font-style: italic;
}
.pros__recs__info {
  margin-top: 88px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.pros__recs__info__text {
  color: #00211f;
  width: 555px;
  font-size: 18px;
}

.operations {
  display: flex;
}
.operations__container {
  display: flex;
  flex-direction: column;
  width: 609px;
}
.operations__container__outer {
  display: flex;
}
.operations__title {
  margin-top: 62px;
  width: 448px;
  color: #00675f;
  font-weight: bold;
  font-size: 45px;
  line-height: 0.899;
}
.operations__subtitle {
  margin-top: 36px;
  font-size: 30px;
}
.operations__content {
  margin: 29px 0 0 0;
  background: url("../resources/shapes/operations_border.png") no-repeat;
  height: 129px;
  width: 546px;
  font-size: 18px;
  color: #4a8a83;
  padding: 21px;
}
.operations__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operations__feature__container {
  margin-top: 30px;
  padding: 0 14px 0 20px;
  width: 546px;
  display: flex;
  justify-content: space-between;
}
.operations__feature__image {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../resources/shapes/ellipse.png") no-repeat;
  width: 33px;
  height: 33px;
}
.operations__feature__title {
  font-size: 25px;
  margin-top: 10px;
}
.operations__pros {
  display: flex;
}
.operations__pros__container {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  height: 539px;
  justify-content: space-between;
}
.operations__pros__content__container {
  width: 410px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  line-height: 1.2;
}
.operations__pros__content__title {
  color: #00675f;
  font-weight: bold;
  font-size: 21px;
}
.operations__pros__content__text {
  margin-top: 5px;
  color: #666666;
  font-size: 18px;
}
.operations__pros__img {
  width: 114px;
  height: 116px;
}

.request__background {
  position: relative;
  background: url("../resources/background/request-bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 378px;
}
.request__container {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 118px 0 102px;
}
.request__item {
  text-align: center;
  height: 219px;
  width: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.request__item__ico__computer, .request__item__ico__medical, .request__item__ico__scalpel, .request__item__ico__cross {
  transition: 0.4s background ease-out;
}
.request__item__ico__computer {
  background: url("../resources/requests/computer.png");
  width: 88px;
  height: 76px;
}
.request__item__ico__computer:hover {
  background: url("../resources/requests/computer_active.png");
}
.request__item__ico__medical {
  background: url("../resources/requests/medical.png");
  width: 87px;
  height: 103px;
}
.request__item__ico__medical:hover {
  background: url("../resources/requests/medical_active.png");
}
.request__item__ico__scalpel {
  background: url("../resources/requests/scalpel.png");
  width: 77px;
  height: 86px;
}
.request__item__ico__scalpel:hover {
  background: url("../resources/requests/scalpel_active.png");
}
.request__item__ico__cross {
  background: url("../resources/requests/cross.png");
  width: 64px;
  height: 65px;
}
.request__item__ico__cross:hover {
  background: url("../resources/requests/cross_active.png");
}
.request__item__arrow {
  background: url("../resources/requests/arrow.png");
  margin: auto 0;
  height: 24px;
  width: 65px;
}
.request__item__title {
  font-size: 20px;
  line-height: 1;
  color: #4a4a4a;
}
.request__item__number {
  font-size: 30px;
  color: #879e9f;
}
.request__wrapper {
  display: flex;
  margin: 0 auto;
  width: 1171px;
}
.request__feedback__background {
  margin-top: -29px;
  background: url("../resources/background/request-feedback-bg.png") no-repeat;
  background-size: cover;
  height: 368px;
}

.feedback__background {
  display: flex;
  justify-content: center;
  background: url("../resources/background/prosbg.png") no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 361px;
}
.feedback__background__corner {
  position: absolute;
  margin-top: -41px;
  background: url("../resources/shapes/corner.png");
  background-size: cover;
  width: 109px;
  height: 71px;
}
.feedback__sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  background: url("../resources/shapes/Rectangle3copy5.png");
  width: 655px;
  height: 269px;
}
.feedback__sign__title {
  color: #fff;
  font-size: 35px;
}
.feedback__sign__subtitle {
  text-align: center;
  font-size: 20px;
  color: #a9ddd9;
}

.reviews__container {
  margin-top: 85px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.reviews__title {
  width: 658px;
  color: #00675f;
  font-weight: bold;
  font-size: 45px;
  line-height: 0.899;
}
.reviews__subtitle {
  margin-top: 30px;
  color: #002422;
  font-size: 30px;
}
.reviews__block {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.reviews__block__container {
  width: 100%;
  justify-content: space-between;
  margin-top: 58px;
  display: flex;
}
.reviews__block__content {
  width: 362px;
  text-align: justify;
  color: #5d5d5d;
  line-height: 1.2;
  font-size: 18px;
}
.reviews__block__name {
  margin-top: 30px;
  color: #5d5d5d;
  font-size: 25px;
}
.reviews__diploma {
  margin-top: 98px;
}
.reviews__diploma__background {
  position: relative;
  background: url("../resources/background/request-bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 378px;
  z-index: 1000;
}
.reviews__diploma__container {
  width: 100%;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__diploma__container img {
  width: 347px;
  height: 227px;
}
.reviews__diploma__arrow__left, .reviews__diploma__arrow__right {
  width: 29px;
  height: 58px;
}
.reviews__diploma__arrow__left {
  background: url("../resources/diplomas/arrow-left.png");
}
.reviews__diploma__arrow__right {
  background: url("../resources/diplomas/arrow-right.png");
}
.reviews__button {
  border: 1px solid #909090;
  outline: none;
  height: 42px;
  width: 273px;
  font-size: 20px;
  color: #5d5d5d;
  cursor: pointer;
  background-color: transparent;
  transition: background 1s;
}
.reviews__button:hover {
  background: #41D6CA;
}
.reviews__button__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.map__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.map__title {
  margin-top: 80px;
  color: #00675f;
  font-weight: bold;
  font-size: 45px;
}
.map__subtitle {
  font-size: 30px;
  color: #002422;
}
.map__image {
  position: absolute;
  margin-top: -24px;
  background: url("../resources/background/map.png");
  height: 492px;
  width: 100%;
}
.map__image__wrapper {
  width: 100%;
}
.map__ico {
  position: absolute;
  margin: 140px 513px;
  background: url("../resources/shapes/mapico.png");
  width: 144px;
  height: 209px;
  z-index: 1000;
}
.map__ico__wrapper {
  width: 100%;
  height: 100%;
}

* {
  font-family: "PT Sans Narrow", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=index.css.map */
