.operations {
  display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    width: 609px;
    &__outer {
      display: flex;
    }
  }
  &__title {
    margin-top: 62px;
    width: 448px;
    color: #00675f;
    font-weight: bold;
    font-size: 45px;
    line-height: 0.899;
  }
  &__subtitle {
    margin-top: 36px;
    font-size: 30px;
  }
  &__content {
    margin: 29px 0 0 0;
    background: url("../resources/shapes/operations_border.png") no-repeat;
    height: 129px;
    width: 546px;
    font-size: 18px;
    color: #4a8a83;
    padding: 21px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
      margin-top: 30px;
      padding: 0 14px 0 20px;
      width: 546px;
      display: flex;
      justify-content: space-between;
    }
    &__image {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../resources/shapes/ellipse.png") no-repeat;
      width: 33px;
      height: 33px;
    }
    &__title {
      font-size: 25px;
      margin-top: 10px;
    }
  }
  &__pros {
    display: flex;

    &__container {
      margin-top: 39px;
      display: flex;
      flex-direction: column;
      height: 539px;
      justify-content: space-between;
    }
    &__content {
      &__container {
        width: 410px;
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        line-height: 1.2;
      }
      &__title {
        color: #00675f;
        font-weight: bold;
        font-size: 21px;
      }
      &__text {
        margin-top: 5px;
        color: #666666;
        font-size: 18px;
      }
    }
    &__img {
      width: 114px;
      height: 116px;
    }
  }
}