@import "mixins";

.pros {
  margin-top: 43px;

  &__recs {
    background: url("../resources/shapes/prosvector.png") no-repeat;
    background-size: cover;
    height: 939px;
    &__title {
      color: #fff;
      font-size: 45px;
      font-weight: bold;
      width: 533px;
      line-height: 0.899;
    }
    &__subtitle {
      margin-top: 16px;
      font-size: 30px;
      color: #002422;
    }
    &__content {
      padding: 15px;
      color: #fff;
      font-size: 19px;
      background: url("../resources/shapes/border.png") no-repeat;
      width: 546px;
      height: 127px;

    }
    &__quality {
      width: 100%;
      margin-top: 78px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__grid {
      display: grid;
      margin: 95px 40px 0 40px;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 36px;
      &__item {
        text-align: center;
        width: 338px;

        &__text {
          margin-top: 15px;
          color: #fff;
          font-size: 20px;
        }
        & span {
          display: inline-block;
          width: 220px;
          font-size: 18px;
          color: #d9fffd;
          font-style: italic;
        }
      }
    }

    &__info {
      margin-top: 88px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      &__text {
        color: #00211f;
        width: 555px;
        font-size: 18px;
      }
    }

  }



}